TR {
}
BODY
{
	background-color: #FAFDD9;	
}
TABLE
{
	border-color:gray;
    text-align:center;
    background-color:#FAEFB4;
    border:thin;
    FONT-FAMILY:verdana, sans-serif;
    BORDER-COLLAPSE:collapse;
}
TD
{
	
}
.menu{
	background-image: url('images/bar.bmp');
}
.errormsg{
	background-color: maroon;
	font-size: large;
	font-family: cursive;
	border: thin;
	border-color: black;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.none{
	background-color: white;
}